<!DOCTYPE html>
<!--
@copyright @polymer\iron-validatable-behavior\demo\index.html
@copyright 2017-2018 adalberto.lacruz@gmail.com
 -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iron-validatable-behavior</title>
  <link rel="stylesheet" type="text/css" href="../index.css">
  <script type="module" src="components.js"></script>
</head>

<body style="opacity: 0">
  <div class="vertical-section-container centered">
    <h3>The <code>cats-only</code> validator only accepts the string "cats" and
      its suffixes ("c", "ca", "cat").</h3>
      <div class="demo-snipped">
        <validatable-input validator="cats-only"></validatable-input>
      </div>
  </div>
</body>
</html>