<!DOCTYPE html>
<!--
@copyright @polymer\paper-radio-button\demo\index.html
@copyright 2017-2018 adalberto.lacruz@gmail.com
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>alg-paper-radio-button</title>
  <link rel="stylesheet" type="text/css" href="../index.css">
  <script type="module" src="components.js"></script>
</head>
<body style="opacity: 0">
  <h1 class="centered">alg-paper-radio-button</h1>
  <div class="vertical-section-container centered">
    <h3>Radio buttons can be checked or unchecked, or disabled entirely</h3>
    <div class="demo-snipped">
      <alg-paper-radio-button>Radio</alg-paper-radio-button>
      <alg-paper-radio-button checked="">Radio</alg-paper-radio-button>
      <alg-paper-radio-button disabled="">Disabled</alg-paper-radio-button>
    </div>
    <h3>Radio buttons can hide the ripple effect using the <i>noink</i> attribute</h3>
    <div class="demo-snipped">
      <alg-paper-radio-button noink="">Radio</alg-paper-radio-button>
    </div>
    <h3>Radio buttons can be styled using custom properties</h3>
    <div class="demo-snipped">
      <alg-paper-radio-button class="red">Radio</alg-paper-radio-button>
      <alg-paper-radio-button checked="" class="green">Radio</alg-paper-radio-button>
    </div>

    <h3>Radio buttons can send a message to the controller</h3>
    <div class="demo-snipped">
      <show-msg>
        <alg-paper-radio-button id="radio-action" on-change>Change</alg-paper-radio-button>
      </show-msg>
    </div>
  </div>
</body>
</html>