<!DOCTYPE html>
<!--
@copyright @polymer\iron-icons\demo\index.html
@copyright 2017 ALG
 -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>alg-iron-icon demo iconset</title>
    <script type="module" src="components.js"></script>
  </head>
  <body style="visibility: hidden">
    <h1 class="centered">alg-iron-icon demo iconset</h1>
    <app-demo></app-demo>
  </body>
</html>