<!DOCTYPE html>
<!--
@copyright @polymer\iron-checked-element-behavior\demo\index.html
@copyright 2017-2018 adalberto.lacruz@gmail.com
 -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iron-checked-element-behavior</title>
  <script type="module" src="components.js"></script>
</head>

<body style="opacity: 0">
<div class="horizontal-section-container">
  <div>
    <h4>Not required</h4>
    <div class="horizontal-section">
      <simple-checkbox></simple-checkbox>
    </div>
  </div>
  <div>
    <h4>Required</h4>
    <div class="horizontal-section">
      <simple-checkbox required></simple-checkbox>
    </div>
  </div>
</div>
</body>

</html>