
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #eeeeee;
  /* box-sizing: border-box; */
  display: grid;
  grid-template-rows: 100px auto 100px;
  grid-row-gap: 5px;
  --paper-button-ink-color: var(--paper-pink-900);
}

.header {
  background-color: #5399c2;
  grid-row: 1/2;
}

.content {
  background-color: #bbeef6;
  grid-row: 2/3;
}

.footer {
  background-color: #54a2d0;
  grid-row: 3
}

alg-button {
  background-color: lightBlue;
}

alg-show-log {
  background-color: #70D070;
  width: 800px;
  height: 10vh;
  overflow-y: auto;
  margin-left: 20px
}
